# Test directory
coverage

# Dependency directory
node_modules

# Optional eslint cache
.eslintcache

# Build folders
es/

# VS Code directory
.vscode/
# IDEA directory
.idea/

# Yarn errors
yarn-error.log
