<!DOCTYPE html>
<html>
 <head>
   <title>CQRS iteraction example</title>
   <meta charset="utf-8">
   <script type='text/javascript'>
   var app = {
    entryScript: 'https://cors-anywhere.herokuapp.com/'
   };
   </script>
   <link href="build/backbone-app.css" rel="stylesheet">
   <link href="build/react-app.css" rel="stylesheet">
 </head>
 <body>
  <div id="react-app"></div>
  <hr>
  <div id="backbone-app"></div>
  <script type="text/template" id='settlement-form-template'>
    <% if (isField) { %>
      <input class="settlement-search" type="search"/>
      <ul class="settlement-list"></ul>
    <% } else { %>
      <% if (current) { %>
        <span class="current-settlement"><%= current.name %> (<%= current.region %>)</span> 
      <% } %>
    <% } %>
  </script>
  <script type="text/template" id="settlement-list-template">
    <% if (list) { %>
      <% for (var i = 0; i < list.length; i += 1) { %>
        <li data-settlement-id="<%= list[i].id %>"><%= list[i].name%> (<%= list[i].region %>)</li>
      <% } %>
    <% } %>
  </script>
  <script defer type="text/javascript" src="build/vendor.js"></script>
  <script defer type="text/javascript" src="build/runtime.js"></script>
  <script defer type="text/javascript" src="build/backbone-app.js"></script>
  <script defer type="text/javascript" src="build/react-app.js"></script>
 </body> 
</html>