<!DOCTYPE html>
<html>

<head>
  <title>CQRS iteraction example</title>
  <meta charset="utf-8">
  <script type='text/javascript'>
    var app = {
      entryScript: 'https://cors-anywhere.herokuapp.com/'
    };
  </script>
  <link href="main.css" rel="stylesheet">
</head>

<body>
  <header>
    <div id="react-app"></div>
  </header>
  <main>
    <section>
      <h1>Some content...</h1>
    </section>
  </main>
  <footer>
    <div id="backbone-app"></div>
  </footer>
  <script type="text/template" id='settlement-form-template'>
    <% if (isField) { %>
      <label for="backbone-settlement-search">Your city:</label> <input class="settlement-search" type="search" id="backbone-settlement-search"/>
      <ul class="settlement-list"></ul>
    <% } else { %>
      <% if (current) { %>
        <span>Your city:</span> <span class="current-settlement"><%= current.name %> (<%= current.region %>)</span> 
      <% } %>
    <% } %>
  </script>
  <script type="text/template" id="settlement-list-template">
    <% if (list) { %>
      <% for (var i = 0; i < list.length; i += 1) { %>
        <li data-settlement-id="<%= list[i].id %>"><%= list[i].name%> (<%= list[i].region %>)</li>
      <% } %>
    <% } %>
  </script>
  <script type="text/javascript" src="build/vendor.js"></script>
  <script type="text/javascript" src="build/runtime.js"></script>
  <script type="text/javascript" src="build/react-app.js"></script>
  <script type="text/javascript" src="build/backbone-app.js"></script>
</body>

</html>