name: Publish NPM package

on:
  release:
    types: [created]

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/

      - name: Install dependencies
        run: |
          npm i -g npm@9 --registry=https://registry.npmjs.org
          npm install
      - name: Lint
        run: |
          npm run type-check
          npm run lint
      - name: Test
        run: |
          npm test

      - name: Build package
        run: |
          npm run build
          npm --no-git-tag-version version ${GITHUB_REF#refs/*/}
      - name: Publish package
        run: npm publish ./ --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
